/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f9;
}

#caclculadora-grande{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 450px;
    background-color: darkcyan;
}

h1 {
    margin-bottom: 20px;
    color: white;
}

#div-calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#div-calculadora input,
#div-calculadora select {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    width: 200px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#div-resultado {
    text-align: center;
    color: white;
}

#p-resultado {
    font-size: 18px;
    color: white;
}
